<!-- reviews-index -->
<h1>Reviews</h1>

<div class="row">
    {{#each reviewsData}}
        <div class="col-sm-3">
            <h2><a href="/reviews/{{this.id}}">{{this.title}}</a></h2>
            <small>{{this.movieTitle}}</small>
        </div>
    {{/each}}
</div>
