<!-- views/reviews-new.handlebars -->

<form method="POST" action="/reviews">
  <!-- put into a partial -->
  <fieldset>
    <legend>New Review</legend>
    <!-- TITLE -->
    <p>
      <label for="review-title">Title</label><br>
      <input id="review-title" type="text" name="title" />

    </p>

    <!-- MOVIE TITLE -->
    <p>
      <label for="movie-title">Movie Title</label><br>
      <input id="movie-title" type="text" name="movieTitle" />

    </p>

    <!-- DESCRIPTION -->
    <p>
      <label for="description-text">Description</label><br>
      <textarea id="description-text" name="description" rows="10" /></textarea>
    </p>


    <!-- RATING -->
    <select for="rating-value" name="rating">
      <option value="0">0</option>
      <option value="1">1</option>
      <option value="2">2</option>
      <option value="3">3</option>
      <option value="4">4</option>
      <option value="5">5</option>
    </select>

  </fieldset>



  <div class='text-right'>
    <!-- Close button to go back  -->
    <a href="/">Close</a>
    <!-- Submit the form input -->
    <button type="submit">Save Review</button>
  </div>

</form>
