<h1>Now Playing</h1>
{{#each movies}}
    <li>{{this.title}}</li>
    <li>{{this.genre_ids}}</li>
    <li><a href="/movies/{{this.id}}"><img src="https://image.tmdb.org/t/p/w500/{{this.poster_path}}" /></a></li>
{{/each}}
